body {
  font-family: sans-serif;
  background-color: white;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}
button:active {
  outline: none;
  border: none;
}
button:focus {
  outline: 0;
}

nav {
  background-color: #b3c6e5;
  display: flex;
  align-items: center;
  /*border: 1px solid #8e79a8*/
  font: bold 20px 'Khand';
  margin-bottom: 1%;
  line-height: 1;
  color: #4f0d91;
}

nav img {
  width: 100px;
  height: 50px;
}

.nav-right {
  display: flex;
  margin-left: auto;
  align-items: flex-end;
  margin-right: 1%;
}
.nav-left {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-left: 20px;
  width: 40%;
}
.nav-item {
  width: 10%;
}
nav a {
  display: inline-block;
  margin: 1em;
  color: #4f0d91;
  border-bottom: 2px solid transparent;
}
a.nav-item {
  margin: 0;
  width: auto;
}
nav a:active {
  color: #4f0d91;
}
nav a:visited {
  color: #4f0d91;
}
nav a:hover {
  border-bottom: 2px solid #4f0d91;
}
.logo,
.logo:hover {
  border-bottom: none;
}

form div {
  margin: 1em;
  display: inline-block;
}
/* ALL PRODUCTS CSS */
.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: 'Khand', sans-serif;
  font-size: 20px;
  text-align: center;
}

.single-product {
  width: 25%;
  margin-top: 5px;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
}
.single-product a {
  position: relative;
}
.single-product:hover .overlay {
  opacity: 1;
  pointer-events: none;
}

.single-product img {
  max-width: 295px;
  max-height: 174px;
}
.product-name {
  width: 100%;
  align-self: flex-end;
  text-align: center;
}

a > img {
  max-width: 100%;
  max-width: 298px;
  max-height: 198px;
}

/* Products by type CSS */

.products-by-type {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.product-by-type-name {
  width: 100%;
  text-align: center;
}
.single-product-by-type {
  width: 25%;
  margin: 5px;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  font-family: 'Khand', sans-serif;
  font-size: 20px;
  justify-content: space-around;
}
.single-product-by-type a {
  position: relative;
}
.single-product-by-type:hover .overlay {
  opacity: 1;
  pointer-events: none;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: #b3c6e5;
  color: black;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*Single Product CSS */
.single-product-item {
  display: flex;
  align-items: flex-end;
  font-family: 'Khand', sans-serif;
  font-size: 30px;
}
.price {
  font-size: 20px;
}
.single-product-item img {
  max-width: 550px;
}
.single-product-content {
  margin-left: 20px;
}
.add-to-cart,
.remove-from-cart {
  padding: 10px;
  border: 2px solid lightblue;
  font-size: 12px;
}
.remove-from-cart {
  padding: 6px;
  border: 2px solid lightblue;
  font-size: 12px;
}

.add-to-cart:hover,
.remove-from-cart:hover {
  background-color: lightblue;
}

/* CART STYLES*/
.shopping-cart-label {
  text-align: center;
  font-size: 36px;
  font-family: 'Khand', sans-serif;
}
.single-cart-item {
  display: flex;
  margin: 5px;
  align-items: flex-end;
  font-family: 'Khand', sans-serif;
}
.single-cart-item img {
  max-width: 265px;
  max-height: 198px;
  width: 100%;
}

.single-cart-content {
  margin-left: 20px;
}

.footer-container {
  text-align: center;
  padding: 30px 0;
  width: auto;
  margin: 20px 0 0 0;
  background-color: rgb(6, 26, 48);
  color: #fff;
  position: relative;
  clear: both;
}

.fab {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-instagram {
  background: #e1306c;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}
.featured-products-label {
  font-family: 'Khand', sans-serif;
  text-align: center;
}
.featured-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Khand', sans-serif;
}
.featured-container img {
  width: 100%;
  max-height: 130px;
  max-width: 175px;
}
.featured-product {
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  border-spacing: 5px;
  border-color: #4f0d91;
}
